$screen-small: 540px;

$box-shadow-color: #d6d6d6;
$box-shadow-color-hover: #979797;

$btn-border-color: #979797;
$btn-active-bg-color: #46a5ff;
$btn-action-bg-color: #46a5ff26;

$issue-border-color: #f1f1f1;
$issue-hover-bg-color: $issue-border-color;